@import  'src/scss/colors.scss';
@import 'src/scss/other.scss';

.Root {
  label {
    color: $gray-900 !important;
  }
}

.InputRoot {
  // TODO: last been here
  // border-radius: $borderRadiusSquared-200 !important;
  // background-color: aqua;
  &:disabled {
    // background-color: red;
    -webkit-text-fill-color: unset !important;
    color: $gray-900;
  }
}