@import 'src/scss/colors.scss';
@import 'src/scss/other.scss';

//TODO: [TM-1] increace specificity by another way
.Rootttt {
  border-color: $primary-purple !important;
  border-width: 3px !important  ;
  border-radius: $borderRadiusSquared-100 !important;
}

.Root {
  label {
    color: $gray-800 !important;
  }
  &.WithValue {
    label {
      color: $primary-dustPink !important;
    }
  }
}

.InputRoot {
  &:disabled {
    -webkit-text-fill-color: unset !important;
    color: $gray-800;
  }
}
